<%- include("header") -%>

<h2>This is abouts page</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tem
  por incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exe
  rcitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in repre
  henderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupi
  datat non proident, unt in culpa qui officia deserunt mollit anim id est laborum.</p>
  
<%- include("footer") -%>
